.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-header-logout {
  position: absolute;
  right: 10%;
  top: 3%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.App-main {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}
.App-footer {
  position: absolute;
  bottom: 10%;
  width: 100%;
  margin-left: 40%;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
